/node_modules
/public/hot
!/public/build
/public/storage
/public/vendor/log-viewer/
/storage/*.key
/storage/files
/storage/files/_temp_ocr
/vendor
.env
.env.backup
.phpunit.result.cache
.phpunit.cache
/.phpunit.cache/
/.phpunit.result.cache
.styleci.yml
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/bootstrap/cache
meilisearch
home/forge/meilifiles
auth.json
# Meilisearch data
data.ms/
*.mdb
