<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="BCRYPT_ROUNDS" value="4"/>
    <env name="CACHE_STORE" value="array"/>
  <env name="DB_CONNECTION" value="sqlite"/>
  <env name="DB_DATABASE" value=":memory:"/>
    <env name="MAIL_MAILER" value="array"/>
    <env name="QUEUE_CONNECTION" value="sync"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="TELESCOPE_ENABLED" value="false"/>
    <env name="URL_SHORTENER_ENABLED" value="false"/>
    <!-- Blank every credential scripts/pull-prod-env.sh brings from production:
         tests must never see (or call Google/Bing/Meta with) real keys. -->
    <env name="GOOGLE_CLIENT_ID" value="" force="true"/>
    <env name="GOOGLE_CLIENT_SECRET" value="" force="true"/>
    <env name="GOOGLE_BUSINESS_PROFILE_ACCOUNT_ID" value="" force="true"/>
    <env name="GOOGLE_BUSINESS_PROFILE_LOCATION_ID" value="" force="true"/>
    <env name="GSC_CREDENTIALS" value="" force="true"/>
    <env name="BING_WMT_KEY" value="" force="true"/>
    <env name="CLARITY_PROJECT_ID" value="" force="true"/>
    <env name="CLARITY_API_TOKEN" value="" force="true"/>
    <env name="PAGESPEED_API_KEY" value="" force="true"/>
    <env name="DATAFORSEO_LOGIN" value="" force="true"/>
    <env name="DATAFORSEO_PASSWORD" value="" force="true"/>
    <env name="META_APP_ID" value="" force="true"/>
    <env name="META_APP_SECRET" value="" force="true"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./app</directory>
    </include>
  </source>
</phpunit>
